.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  justify-content: space-between;
}

body {
  margin: 0;
}

header {
  background-color: #3F4763;
  padding: 15px;
}

header ul {
  float: right;
  color: white;
}

header li {
  display: inline-block;
  padding: 0px 5px;
}

header p {
  display: inline-block;
}

.heroImg {
  display: flex;
  background-color: #EBEBEB;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  padding:2%;
  background-color: #FFFFFF;
  text-align: center;
  justify-content: center;
}
.portrait{
  max-height: 500px;
  max-width: 500px;
  min-height: 100px;
  min-width: 100px;
}


.aboutMe {
  display: flex; 
  flex-direction: column;
  min-height: fit-content;
  text-align: left;
  min-width: none;
  padding: 2%;
}

.flexContainer {
  display:flex;
  justify-content: space-around;
  padding: 2%;
}

#uiDesign{
  display:flex;
  flex-direction: column; 
  width: 33%;
  max-width: 150px;
  background-color: #3F4763;
  padding:1%;
  
}
#uxDesign{
  display:flex;
  flex-direction: column; 
  width: 33%;
  max-width: 150px;
  background-color: #3F4763;
  padding:1%;
}
#userTesting{ 
  display:flex;
  flex-direction: column; 
  width: 33%;
  max-width: 150px;
  background-color: #3F4763;
  padding:1%;
}

button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

footer {
  background-color: #373738;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  padding-left: 5px;
}

footer li {
  vertical-align: inline-block;
  padding: 0px 7px;
}